

* {
    box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  overflow: hidden;
  margin: 0 auto;
  width: 940px;
}

.page-header{
	background-color: orange;
}
.logo{
	float: left;
}
.main-nav{
  float: right;
  padding: 15px;
}
.main-nav ul {
  margin: 0;
  padding: 0;
}
.main-nav li {
  display: inline-block;
}
.main-nav a {
  padding: 15px;
  text-decoration: none;
  border: 1px solid transparent;
}
.main-nav a:hover {
  border: 1px solid #000;
}
.promo-slogan{
  text-transform: uppercase;
  text-align: center;
}

.advantages {
  overflow: hidden;
}
.advantages-item {
  font-size: 16px;
  float: left;
  width: 25%;
}

.technic-and-offers {
  overflow: hidden;
}
.technic {
  float: left;
  width: 240px;
}

.main-footer a {

}